In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Veri Toplama\Saat Veri Toplama Analiz.xlsx')

In [3]:
df = pd.DataFrame()

In [4]:
data.head()

,Adımsayar,Batarya_kapasitesi_araligi,Ekran_boyut_araligi,GPS,Garanti_suresi,Garanti Tipi,Kasa Renk,Kasa_capi,Kordon Renk,Nabız Sensörü,Renk,Sesli Görüşme,Suya/Toza Dayanıklılık,Titreşim,Uyku Takibi,İşletim Tipi,brand,url,price
0,Var,250.0,1.75,Yok,2,İthalatçı Garantili,Pembe,44.0,Siyah,Var,Siyah,Var,Var,Var,Var,Android,TECHNOMEN,https://www.trendyol.com//technomen/akilli-saa...,3690
1,Var,350.0,1.25,Var,2,Apple Türkiye Garantili,Beyaz,43.0,Beyaz,Var,Beyaz,Var,Var,Var,Var,iOS,Apple,https://www.trendyol.com//apple/watch-se-2-gps...,14999
2,Var,250.0,1.75,Yok,2,Resmi Distribütör Garantili,Siyah,45.0,Siyah,Var,Siyah,Var,Var,Var,Var,Android + iOS,Xiaomi,https://www.trendyol.com//xiaomi/redmi-watch-3...,1342
3,Var,450.0,2.25,Var,1,İthalatçı Garantili,Siyah,49.0,Siyah,Var,Siyah,Var,Var,Var,Var,Android + iOS,QAP,https://www.trendyol.com//qap/ultra-plus-2-wat...,1211
4,Var,250.0,1.75,Yok,2,İthalatçı Garantili,Rose Gold,44.0,Pembe,Var,Siyah,Var,Var,Var,Var,Android + iOS,TECHNOMEN,https://www.trendyol.com//technomen/akilli-saa...,2430

In [5]:
df['Fiyat']=data['price']
df['Marka']=data['brand']
df['Kasa_capi']=data['Kasa_capi']
df['Garanti_suresi']=data['Garanti_suresi']
df['Batarya_kapasitesi']=data['Batarya_kapasitesi_araligi']
df['Ekran_boyutu']=data['Ekran_boyut_araligi']
df['Sesli_gorusme']=data['Sesli Görüşme']
df['Renk']=data['Renk']
df['Titresim']=data['Titreşim']
df['GPS']=data['GPS']
df['Isletim_tipi']=data['İşletim Tipi']
df['Kordon_renk']=data['Kordon Renk']

In [6]:
df.head()

,Fiyat,Marka,Kasa_capi,Garanti_suresi,Batarya_kapasitesi,Ekran_boyutu,Sesli_gorusme,Renk,Titresim,GPS,Isletim_tipi,Kordon_renk
0,3690,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android,Siyah
1,14999,Apple,43.0,2,350.0,1.25,Var,Beyaz,Var,Var,iOS,Beyaz
2,1342,Xiaomi,45.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Siyah
3,1211,QAP,49.0,1,450.0,2.25,Var,Siyah,Var,Var,Android + iOS,Siyah
4,2430,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Pembe

In [7]:
for i in range(0,100):
    df['Fiyat'] = df['Fiyat'].replace('[^\d.]', '', regex=True).astype(float)

In [8]:
df

,Fiyat,Marka,Kasa_capi,Garanti_suresi,Batarya_kapasitesi,Ekran_boyutu,Sesli_gorusme,Renk,Titresim,GPS,Isletim_tipi,Kordon_renk
0,3690.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android,Siyah
1,14999.0,Apple,43.0,2,350.0,1.25,Var,Beyaz,Var,Var,iOS,Beyaz
2,1342.0,Xiaomi,45.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Siyah
3,1211.0,QAP,49.0,1,450.0,2.25,Var,Siyah,Var,Var,Android + iOS,Siyah
4,2430.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Pembe
...,...,...,...,...,...,...,...,...,...,...,...,...
625,1334.0,QAP,41.0,1,350.0,1.75,Var,Gri,Var,Var,Android + iOS,Gri
626,6590.0,TECHNOMEN,44.0,2,1500.0,1.75,Var,Siyah,Var,Var,Android,Siyah
627,13990.0,TEKNOHANE,45.0,1,450.0,1.75,Var,Gri,Var,Var,Android + iOS,Gri
628,2390.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Pembe,Var,Yok,Android + iOS,Pembe
629,699.0,SEYUWATCH,45.0,1,250.0,1.75,Var,Bej,Var,Yok,Android,Bej

In [9]:
#Boş değer var mı diye bakıyoruz.
print(df['Marka'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())
print(df['Kasa_capi'].isnull().values.any())
print(df['Garanti_suresi'].isnull().values.any())
print(df['Batarya_kapasitesi'].isnull().values.any())
print(df['Ekran_boyutu'].isnull().values.any())
print(df['Sesli_gorusme'].isnull().values.any())
print(df['Renk'].isnull().values.any())
print(df['Titresim'].isnull().values.any())
print(df['GPS'].isnull().values.any())
print(df['Isletim_tipi'].isnull().values.any())
print(df['Kordon_renk'].isnull().values.any())

False
False
True
False
True
False
False
False
False
False
True
False

In [10]:
df

,Fiyat,Marka,Kasa_capi,Garanti_suresi,Batarya_kapasitesi,Ekran_boyutu,Sesli_gorusme,Renk,Titresim,GPS,Isletim_tipi,Kordon_renk
0,3690.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android,Siyah
1,14999.0,Apple,43.0,2,350.0,1.25,Var,Beyaz,Var,Var,iOS,Beyaz
2,1342.0,Xiaomi,45.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Siyah
3,1211.0,QAP,49.0,1,450.0,2.25,Var,Siyah,Var,Var,Android + iOS,Siyah
4,2430.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Pembe
...,...,...,...,...,...,...,...,...,...,...,...,...
625,1334.0,QAP,41.0,1,350.0,1.75,Var,Gri,Var,Var,Android + iOS,Gri
626,6590.0,TECHNOMEN,44.0,2,1500.0,1.75,Var,Siyah,Var,Var,Android,Siyah
627,13990.0,TEKNOHANE,45.0,1,450.0,1.75,Var,Gri,Var,Var,Android + iOS,Gri
628,2390.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Pembe,Var,Yok,Android + iOS,Pembe
629,699.0,SEYUWATCH,45.0,1,250.0,1.75,Var,Bej,Var,Yok,Android,Bej

In [11]:
 df.to_csv(r'C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Veri Toplama\presentation.csv', index=False)

In [12]:
x = df.iloc[:,1:11].values
y = df.iloc[:,0].values
y = y.reshape(-1,1)

In [13]:
df['Marka'].value_counts()

Marka
TECHNOMEN           189
Apple                80
Teknoloji Gelsin     73
TEKNOHANE            55
QAP                  49
Xiaomi               27
SeyuTech             27
SMARTEST             26
Wyze                 26
Foon                 25
Universal            23
SEYUWATCH            18
NewBlue              12
Name: count, dtype: int64

In [14]:
df['Isletim_tipi'].value_counts()

Isletim_tipi
Android + iOS    319
Android          136
iOS              127
Diğer             23
Name: count, dtype: int64

In [15]:
df['Renk'].value_counts()

Renk
Siyah      258
Beyaz      118
Pembe       79
Gümüş       53
Gri         53
Metalik     29
Turuncu     22
Bej         18
Name: count, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [17]:
df['Marka'] = enc.fit_transform(df['Marka'])

In [18]:
df['Marka'].value_counts() 
# TECHNOMEN:10,Foon:4,MUTU:7,Daniel Klein:2,MATEO:6,Teknoloji Gelsin:11
# marguierite:14,Xiaomi:13,SMARTEST:9,Universal:12,Apple:0,DURKHEİM:1
# SEYUWATCH:8,Favors:3,Huawei:5

Marka
7     189
0      80
9      73
8      55
3      49
12     27
6      27
5      26
11     26
1      25
10     23
4      18
2      12
Name: count, dtype: int64

In [19]:
df["Isletim_tipi"] = df.Isletim_tipi.str.replace(' ','')

In [20]:
df['Isletim_tipi'] = df['Isletim_tipi'].replace(['iOS'],'1')
df['Isletim_tipi'] = df['Isletim_tipi'].replace(['Android','Android+iOS'],'0')
df['Isletim_tipi'] = df['Isletim_tipi'].replace(['Diğer'],'0')
df['Isletim_tipi'] = df['Isletim_tipi'].replace([pd.NA], '0')

In [21]:
df['Isletim_tipi'].value_counts()

Isletim_tipi
0    503
1    127
Name: count, dtype: int64

In [22]:
print(df['Batarya_kapasitesi'].mean()) #ortalamasını hesaplar

422.15815485996706

In [23]:
df.Batarya_kapasitesi.fillna(df['Batarya_kapasitesi'].mean(),inplace=True)

In [24]:
print(df['Marka'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())
print(df['Kasa_capi'].isnull().values.any())
print(df['Garanti_suresi'].isnull().values.any())
print(df['Batarya_kapasitesi'].isnull().values.any())
print(df['Ekran_boyutu'].isnull().values.any())
print(df['Sesli_gorusme'].isnull().values.any())
print(df['Renk'].isnull().values.any())
print(df['Titresim'].isnull().values.any())
print(df['GPS'].isnull().values.any())
print(df['Isletim_tipi'].isnull().values.any())
print(df['Kordon_renk'].isnull().values.any())

False
False
True
False
False
False
False
False
False
False
False
False

In [25]:
df['Kasa_capi'].value_counts()

Kasa_capi
44.0    217
45.0    145
49.0    104
43.0     63
47.0     27
41.0     26
42.0     23
Name: count, dtype: int64

In [26]:
df['Kasa_capi'] = df['Kasa_capi'].replace([pd.NA], 0)

In [27]:
df['Kasa_capi'] = df['Kasa_capi'].fillna(0).astype(int)

In [28]:
df['Kasa_capi'] = df['Kasa_capi'].astype(int)

In [29]:
df['Kasa_capi'].value_counts()

Kasa_capi
44    217
45    145
49    104
43     63
47     27
41     26
0      25
42     23
Name: count, dtype: int64

In [30]:
df.Isletim_tipi.fillna(2,inplace=True)

In [31]:
print(df['Marka'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())
print(df['Kasa_capi'].isnull().values.any())
print(df['Garanti_suresi'].isnull().values.any())
print(df['Batarya_kapasitesi'].isnull().values.any())
print(df['Ekran_boyutu'].isnull().values.any())
print(df['Sesli_gorusme'].isnull().values.any())
print(df['Renk'].isnull().values.any())
print(df['Titresim'].isnull().values.any())
print(df['GPS'].isnull().values.any())
print(df['Isletim_tipi'].isnull().values.any())
print(df['Kordon_renk'].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False

In [32]:
df['Renk'] = enc.fit_transform(df['Renk'])

In [33]:
df['Renk'].value_counts() 
# siyah:5,beyaz:1,pembe:4,gümüş:3,turuncu:8,gri:6,bej:0,yeşil:7

Renk
6    258
1    118
5     79
3     53
2     53
4     29
7     22
0     18
Name: count, dtype: int64

In [34]:
df['Renk'] = df['Renk'].replace([pd.NA], '0')

In [35]:
df['Kordon_renk'] = enc.fit_transform(df['Kordon_renk'])

In [36]:
df['Kordon_renk'].value_counts()

Kordon_renk
5    323
4    109
2     53
7     47
3     29
6     26
1     25
0     18
Name: count, dtype: int64

In [37]:
print(df['Marka'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())
print(df['Kasa_capi'].isnull().values.any())
print(df['Garanti_suresi'].isnull().values.any())
print(df['Batarya_kapasitesi'].isnull().values.any())
print(df['Ekran_boyutu'].isnull().values.any())
print(df['Sesli_gorusme'].isnull().values.any())
print(df['Renk'].isnull().values.any())
print(df['Titresim'].isnull().values.any())
print(df['GPS'].isnull().values.any())
print(df['Isletim_tipi'].isnull().values.any())
print(df['Kordon_renk'].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False

In [38]:
df['Titresim'].value_counts()

Titresim
Var    557
Yok     73
Name: count, dtype: int64

In [39]:
df['Titresim'] = df['Titresim'].replace(['Var'],'1')
df['Titresim'] = df['Titresim'].replace(['Yok'],'0')
df['Titresim'] = df['Titresim'].replace([pd.NA], '0')

In [40]:
df['Titresim'].value_counts()
# Var:1,Yok:0

Titresim
1    557
0     73
Name: count, dtype: int64

In [41]:
df['Sesli_gorusme'].value_counts()

Sesli_gorusme
Var    630
Name: count, dtype: int64

In [42]:
df['Sesli_gorusme'] = df['Sesli_gorusme'].replace(['Var'], '1')
df['Sesli_gorusme'] = df['Sesli_gorusme'].replace(['Yok'], '0')
df['Sesli_gorusme'] = df['Sesli_gorusme'].replace([pd.NA], '0')

In [43]:
df['Sesli_gorusme'].value_counts()

Sesli_gorusme
1    630
Name: count, dtype: int64

In [44]:
df['GPS'].value_counts()

GPS
Yok    355
Var    275
Name: count, dtype: int64

In [45]:
df['GPS'] = df['GPS'].replace(['Var'],'1')
df['GPS'] = df['GPS'].replace(['Yok'],'0')
df['GPS'] = df['GPS'].replace([pd.NA], '0')

In [46]:
df['GPS'].value_counts()

GPS
0    355
1    275
Name: count, dtype: int64

In [47]:
print(df['Marka'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())
print(df['Kasa_capi'].isnull().values.any())
print(df['Garanti_suresi'].isnull().values.any())
print(df['Batarya_kapasitesi'].isnull().values.any())
print(df['Ekran_boyutu'].isnull().values.any())
print(df['Sesli_gorusme'].isnull().values.any())
print(df['Renk'].isnull().values.any())
print(df['Titresim'].isnull().values.any())
print(df['GPS'].isnull().values.any())
print(df['Isletim_tipi'].isnull().values.any())
print(df['Kordon_renk'].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False

In [48]:
df['Garanti_suresi'] = enc.fit_transform(df['Garanti_suresi'])

In [49]:
df['Garanti_suresi'].value_counts()

Garanti_suresi
2    482
1    122
0     26
Name: count, dtype: int64

In [50]:
df['Batarya_kapasitesi'].value_counts()

Batarya_kapasitesi
250.000000     312
350.000000     104
450.000000      50
900.000000      47
1500.000000     39
550.000000      29
100.000000      26
422.158155      23
Name: count, dtype: int64

In [51]:
df['Batarya_kapasitesi'] = df['Batarya_kapasitesi'].replace([pd.NA], 0)

In [52]:
df['Batarya_kapasitesi'] = df['Batarya_kapasitesi'].fillna(0).astype(int)

In [53]:
df['Batarya_kapasitesi'] = df['Batarya_kapasitesi'].astype(int)

In [54]:
df['Batarya_kapasitesi'].value_counts()

Batarya_kapasitesi
250     312
350     104
450      50
900      47
1500     39
550      29
100      26
422      23
Name: count, dtype: int64

In [55]:
df['Ekran_boyutu'].value_counts()

Ekran_boyutu
1.75    463
2.25    102
1.25     53
4.25     12
Name: count, dtype: int64

In [56]:
print(df['Marka'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())
print(df['Kasa_capi'].isnull().values.any())
print(df['Garanti_suresi'].isnull().values.any())
print(df['Batarya_kapasitesi'].isnull().values.any())
print(df['Ekran_boyutu'].isnull().values.any())
print(df['Sesli_gorusme'].isnull().values.any())
print(df['Renk'].isnull().values.any())
print(df['Titresim'].isnull().values.any())
print(df['GPS'].isnull().values.any())
print(df['Isletim_tipi'].isnull().values.any())
print(df['Kordon_renk'].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False

In [57]:
df

,Fiyat,Marka,Kasa_capi,Garanti_suresi,Batarya_kapasitesi,Ekran_boyutu,Sesli_gorusme,Renk,Titresim,GPS,Isletim_tipi,Kordon_renk
0,3690.0,7,44,2,250,1.75,1,6,1,0,0,5
1,14999.0,0,43,2,350,1.25,1,1,1,1,1,1
2,1342.0,12,45,2,250,1.75,1,6,1,0,0,5
3,1211.0,3,49,1,450,2.25,1,6,1,1,0,5
4,2430.0,7,44,2,250,1.75,1,6,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
625,1334.0,3,41,1,350,1.75,1,2,1,1,0,2
626,6590.0,7,44,2,1500,1.75,1,6,1,1,0,5
627,13990.0,8,45,1,450,1.75,1,2,1,1,0,2
628,2390.0,7,44,2,250,1.75,1,5,1,0,0,4
629,699.0,4,45,1,250,1.75,1,0,1,0,0,0

In [58]:
df.to_csv(r"C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Veri Toplama\akıllısaat-fill-training.csv", index=False)