In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv(r'C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Veri Toplama\akıllısaat-fill-training.csv')

In [3]:
dataset.head()

,Fiyat,Marka,Kasa_capi,Garanti_suresi,Batarya_kapasitesi,Ekran_boyutu,Sesli_gorusme,Renk,Titresim,GPS,Isletim_tipi,Kordon_renk
0,3690.0,7,44,2,250,1.75,1,6,1,0,0,5
1,14999.0,0,43,2,350,1.25,1,1,1,1,1,1
2,1342.0,12,45,2,250,1.75,1,6,1,0,0,5
3,1211.0,3,49,1,450,2.25,1,6,1,1,0,5
4,2430.0,7,44,2,250,1.75,1,6,1,0,0,4

In [4]:
x = dataset.iloc[:,1:].values
y = dataset.iloc[:,0].values
y = y.reshape(-1,1)

In [5]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [6]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(x_train, y_train)
y_predDT = regressor.predict(x_test)

In [7]:
from sklearn.metrics import r2_score
DT_RSCORE = r2_score(y_test,y_predDT)

In [8]:
print(DT_RSCORE)

1.0

In [9]:
import joblib
joblib.dump(regressor, r"C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Algoritmalar\akıllısaat_decision_tree_model.pkl")

['C:\\Users\\user\\OneDrive - Manisa Celal Bayar Üniversitesi\\Masaüstü\\Beyza Yoldaş\\Algoritmalar\\akıllısaat_decision_tree_model.pkl']