In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv(r'C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Veri Toplama\presentation.csv')

In [3]:
dataset.head()

,Fiyat,Marka,Kasa_capi,Garanti_suresi,Batarya_kapasitesi,Ekran_boyutu,Sesli_gorusme,Renk,Titresim,GPS,Isletim_tipi,Kordon_renk
0,3690.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android,Siyah
1,14999.0,Apple,43.0,2,350.0,1.25,Var,Beyaz,Var,Var,iOS,Beyaz
2,1342.0,Xiaomi,45.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Siyah
3,1211.0,QAP,49.0,1,450.0,2.25,Var,Siyah,Var,Var,Android + iOS,Siyah
4,2430.0,TECHNOMEN,44.0,2,250.0,1.75,Var,Siyah,Var,Yok,Android + iOS,Pembe

In [4]:
dataset["Marka"] = dataset.Marka.str.replace(' ', '')
list_marka = dataset["Marka"].unique()

In [5]:
list_marka.sort()

In [6]:
list_marka = list(list_marka)

In [7]:
marka_index=list_marka.index("Apple")
marka_index

0

In [8]:
df_markalar = pd.DataFrame()

In [9]:
df_markalar["Markalar"] = list_marka

In [10]:
df_markalar

           Markalar
0             Apple
1              Foon
2           NewBlue
3               QAP
4         SEYUWATCH
5          SMARTEST
6          SeyuTech
7         TECHNOMEN
8         TEKNOHANE
9   TeknolojiGelsin
10        Universal
11             Wyze
12           Xiaomi

In [11]:
df_markalar.to_csv(r'C:\Users\user\OneDrive - Manisa Celal Bayar Üniversitesi\Masaüstü\Beyza Yoldaş\Veri Toplama\markalar.csv',index=False)